
<form class="forms-sample">
  <div class="form-group row">
    <label for="cours" class="col-sm-3 col-form-label">Cours</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="cours" placeholder="cours">
    </div>
  </div>


  <div class="form-group row">
    <label for="enseignant" class="col-sm-3 col-form-label">Enseignant</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="enseignant" placeholder="enseignant">
    </div>
  </div>

  <div class="form-group row">
    <label for="classes" class="col-sm-3 col-form-label">Classe</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="classes" placeholder="classes">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-6 col-form-label">Heure Début</label>
    <div class="col-sm-6">
      <input type="time" class="form-control" placeholder="HH:MM"/>
    </div>
  </div>


  <div class="form-group row">
    <label class="col-sm-6 col-form-label">Heure Fin</label>
    <div class="col-sm-6">
      <input type="time" class="form-control" placeholder="HH:MM"/>
    </div>
  </div>


  <button type="submit" class="btn btn-primary mr-2">Submit</button>
  <button class="btn btn-light">Cancel</button>
</form>


