<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="typcn typcn-device-desktop menu-icon"></i>
        <span class="menu-title">Dashboard</span>
        <div class="badge badge-danger">new</div>
      </a>
    </li>

    <!-- menu matieres-->
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#matieres-menu" aria-expanded="false" aria-controls="ui-basic">
       <!-- <i class="typcn typcn-document-text menu-icon"></i>-->
        <i class="typcn typcn-film menu-icon"></i>
        <span class="menu-title">Gestion Matieres</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="matieres-menu">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="collapse-item link-noir" routerLink="matiere">Ajout Matiere</a></li>
          <li class="nav-item">  <a class="collapse-item link-noir" routerLink="listesmatiere">Liste des Matieres</a></li>
        </ul>
      </div>
    </li>

    <!--menu Classe-->
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#classe-menu" aria-expanded="false" aria-controls="ui-basic">
        <i class="typcn typcn-document-text menu-icon"></i>
        <span class="menu-title">Gestion classe</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="classe-menu">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="collapse-item link-noir" routerLink="classe">Ajout classe</a></li>
          <li class="nav-item">  <a class="collapse-item link-noir" routerLink="listesclasse">Liste des classes</a></li>
        </ul>
      </div>
    </li>



     <!--menu Annee Scolaire-->
     <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#Annee-menu" aria-expanded="false" aria-controls="ui-basic">
        <i class="typcn typcn-document-text menu-icon"></i>
        <span class="menu-title">Gestion Annee Scolaire</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="Annee-menu">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="collapse-item link-noir" routerLink="anneeScolaire">Ajout Annee Scolaire</a></li>
          <li class="nav-item">  <a class="collapse-item link-noir" routerLink="listesanneeScolaire">Liste des Annees Scolaire</a></li>
        </ul>
      </div>
    </li>


     <!--menu Cours-->
     <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#Cours-menu" aria-expanded="false" aria-controls="ui-basic">
        <i class="typcn typcn-document-text menu-icon"></i>
        <span class="menu-title">Gestion Cours</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="Cours-menu">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="collapse-item link-noir" routerLink="cours">Ajout Cours</a></li>
          <li class="nav-item">  <a class="collapse-item link-noir" routerLink="listescours">Liste des Cours</a></li>
        </ul>
      </div>
    </li>

     <!--menu Enseignant-->
     <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#Enseignant-menu" aria-expanded="false" aria-controls="ui-basic">
        <i class="typcn typcn-document-text menu-icon"></i>
        <span class="menu-title">Gestion Enseignant</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="Enseignant-menu">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="collapse-item link-noir" routerLink="enseignant">Ajout Enseignant</a></li>
          <li class="nav-item">  <a class="collapse-item link-noir" routerLink="listesenseignant">Liste des Enseignant</a></li>
        </ul>
      </div>
    </li>



    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <i class="typcn typcn-user-add-outline menu-icon"></i>
        <span class="menu-title">User Pages</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
        </ul>
      </div>
    </li>


     <!--menu Emploi Du Temps-->
     <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#emploi-menu" aria-expanded="false" aria-controls="ui-basic">
        <i class="typcn typcn-document-text menu-icon"></i>
        <span class="menu-title">Gestion Emploi Du Temps</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="emploi-menu">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="collapse-item link-noir" routerLink="emploie">Ajout Emploi Du Temps</a></li>
          <li class="nav-item">  <a class="collapse-item link-noir" routerLink="listesemploie">Liste des Emploi Du Temps</a></li>
        </ul>
      </div>
    </li>


  </ul>
</nav>
