<form class="forms-sample">
  <div class="form-group row">
    <label for="matiere" class="col-sm-3 col-form-label">Matiere</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="matiere" placeholder="matiere">
    </div>
  </div>


  <div class="form-group row">
    <label for="enseignant" class="col-sm-3 col-form-label">Enseignant</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="enseignant" placeholder="enseignant">
    </div>
  </div>

  <div class="form-group row">
    <label for="classes" class="col-sm-3 col-form-label">Classe</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="classes" placeholder="classes">
    </div>
  </div>

  <div class="form-group row">
    <label for="anneescolaire" class="col-sm-3 col-form-label">Annee-Scolaire</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="anneescolaire" placeholder="anneescolaire">
    </div>
  </div>


  <button type="submit" class="btn btn-primary mr-2">Submit</button>
  <button class="btn btn-light">Cancel</button>
</form>


